<nav class="custom-navbar">
  <div class="container">
    <div *ngIf="status" class="status-container">
      <p class="status-title">Server Statuses</p>
      <div class="map-row">
        <ng-container *ngFor="let statusItem of status.status.currentStatuses">
          <ng-container *ngIf="
            statusItem.name !== 'Forum' &&
            statusItem.name !== 'Friends and msg.' &&
            statusItem.name !== 'Website' &&
            statusItem.name !== 'Authentication' &&
            statusItem.name !== 'Inventory operations' &&
            statusItem.name !== 'Global'
          ">
            <div class="status-item">
              <span [ngClass]="{ 'red-border': statusItem.status > 0, 'green-border': statusItem.status === 0 }">{{ statusItem.name }}</span>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div *ngIf="maps" class="maps-container">
      <p class="maps-title">PMC Counts</p>
      <div class="map-row">
        <ng-container *ngFor="let map of maps.maps">
          <ng-container *ngIf="map.name !== 'Night Factory'">
            <div class="map-item">
              <span>{{ map.name === "Streets of Tarkov" ? "Streets" : map.name }}: {{ map.players }}</span>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <a [routerLink]="infoLink" (click)="toggleLink()">{{ infoLinkText }}</a>
  </div>
</nav>
