<div *ngIf="top5show" class="tops-container">
  <div
    class="tops"
    [ngStyle]="{ 'animation-duration': top5show.length * 4 + 's' }"
  >
    <div class="top" *ngFor="let top of top5show">
      <div class="top-content">
        <img class="top-image" [src]="top.inspectImageLink" />
        <div class="top-details">
          <p class="top-name">{{ top.name }}</p>
          <p
            class="top-change"
            [ngClass]="{
              'text-danger': top.changeLast48h < 0,
              'text-success': top.changeLast48h >= 0
            }"
          >
            48hr Change: {{ top.changeLast48h| number }}
          </p>
          <p class="top-price">RUB {{ top.avg24hPrice | number }}</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="search-container">
  <form class="search-form" (ngSubmit)="onSearch()">
    <input
      class="form-control"
      name="search"
      placeholder="Search"
      [(ngModel)]="search"
    />
    <!-- Maybe on mobile -->
    <!-- <button class="btn btn-primary" type="submit" [disabled]="isLoading">
      Search
    </button> -->
    <div *ngIf="isLoading" class="loader-container">
      <mat-progress-spinner
        class="loader"
        diameter="100"
        mode="indeterminate"
        color="primary"
      ></mat-progress-spinner>
    </div>
  </form>
</div>
